<header>
  <h1>Angular Elementary Synth</h1>
  <mat-slide-toggle (change)="toggleAudio($event)">I/O</mat-slide-toggle>
</header>

<div class="block">
  <h2>OSC</h2>
  <div class="control">
    <h3>OSC A</h3>
    <mat-slider min="0" max="440" step="1" value="200" (change)="oscAFreqChange($event)"></mat-slider>
  </div>
  <div class="control">
    <h3>OSC B</h3>
    <mat-slider min="0" max="440" step="1" value="200" (change)="oscBFreqChange($event)"></mat-slider>
  </div>
</div>

<div class="block">
  <h2>FILTER</h2>
  <div class="control">
    <h3>Cutoff</h3>
    <mat-slider min="100" max="440" step="1" value="0" (change)="filterCutOffChange($event)"></mat-slider>
  </div>
  <div class="control">
    <h3>Resonance</h3>
    <mat-slider min="0" max="1" step="0.1" value="0" (change)="filterResoChange($event)"></mat-slider>
  </div>

</div>
