.block {
  border: 2px solid #d7d7d7;
  margin: 5px;
  display: flex;
  padding: 10px;
  h2 {
    flex: 100%;
  }
  flex-wrap: wrap;
}
.control{
  flex-basis: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.keys {
  display: flex;
  justify-content: center;
}

:host{
  padding: 5px;
}
